<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mettre à jour un hôtel</title>
    <th:block th:replace="~{ /fragment/fragments :: css }"></th:block>
</head>
<body>
<th:block th:replace="~{ /fragment/fragments :: header }"></th:block>
<main class="container">
    <h1>Mettre à jour un hôtel</h1>
    <form th:object="${formulaire}" th:action="@{/hotel/update-hotel/{id}(id=${id})}" method="post">
        <div>
            <label for="name">Nom de l'hôtel:</label>
            <input type="text" id="name" name="name" required th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        </div>

        <div>
            <label for="address">Adresse:</label>
            <select id="address" name="selectedAddressId" required>
                <option value="">Sélectionner une adresse</option>
                <option th:each="address : ${addressList}" th:value="${address.id}" th:text="${address.street + ', ' + address.city + ', ' + address.country}" th:selected="${address.id == formulaire.address}"></option>
            </select>
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></span>
        </div>

        <div>
            <label for="owner">Propriétaire:</label>
            <select id="owner" name="selectedOwnerId" required>
                <option value="">Sélectionner un propriétaire</option>
                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.first_name + ' ' + user.last_name}" th:selected="${user.id == formulaire.owner}"></option>
            </select>
            <span th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}" class="error"></span>
        </div>

        <div>
            <label for="employees">Employés:</label>
            <select id="employees" name="employees" multiple required>
                <option th:each="employee : ${employeeList}" th:value="${employee.id}" th:text="${employee.first_name + ' ' + employee.last_name}" th:selected="${formulaire.employees != null and formulaire.employees.contains(employee.id)}"></option>
            </select>
            <span th:if="${#fields.hasErrors('employees')}" th:errors="*{employees}" class="error"></span>
        </div>

        <div>
            <button type="submit">Mettre à jour</button>
        </div>

    </form>
</main>

<th:block th:replace="~{ /fragment/fragments :: footer }"></th:block>
</body>
</html>
