<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails de la chambre</title>
    <th:block th:replace="~{ /fragment/fragments :: css }"></th:block>
</head>
<body>
<th:block th:replace="~{ /fragment/fragments :: header }"></th:block>
<main class="container">
    <h1>Détails de la chambre</h1>
    <div>
        <h2>Nom de la chambre:</h2>
        <p th:text="${chamber.name}"></p>
    </div>

    <div>
        <h2>Hôtel:</h2>
        <p th:text="${chamber.hotel.name}"></p>
        <p th:text="${chamber.hotel.address.number + chamber.hotel.address.box + ' ' + chamber.hotel.address.street}"></p>
        <p th:text="${chamber.hotel.address.zip + ', ' + chamber.hotel.address.city}"></p>
        <p th:text="${chamber.hotel.address.country}"></p>
    </div>

    <div>
        <h2>Type de chambre:</h2>
        <p th:text="${chamber.type}"></p>
        <p th:text="${chamber.price} + '€/nuit'"></p>
    </div>

    <!-- Ajoutez ici d'autres informations que vous souhaitez afficher pour la chambre -->

</main>

<th:block th:replace="~{ /fragment/fragments :: footer }"></th:block>
</body>
</html>
